<section class="inner-banner">
    <div class="container">
        <div class="inner-banner__content-wrap">
            <h2 class="inner-banner__title">Services Infomation</h2><!-- /.inner-banner__title -->
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="https://localhost:7284/">Home</a></li>
                <li class="active"><a href="~/Home/Services/">Services Infomation</a></li>
            </ul><!-- /.thm-breadcrumb -->
        </div><!-- /.inner-banner__content-wrap -->
    </div><!-- /.container -->
</section><!-- /.inner-banner -->
<section class="service-one service-one__service-page">
    <div class="container">        
        <div class="block-title text-center">
            <h4 class="block-title__title">
                Custom Software Development Services From Dedicated Developers
                <br /><span>With Vast Industry-Specific Experience.</span>
            </h4><!-- /.block-title__title -->
        </div><!-- /.block-title -->
        <div class="row">
            <div class="col-lg-4 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="0ms">
                <div class="service-one__single hvr-bounce-to-bottom">
                    <div class="service-one__icon">
                        <img src="~/icons/customdevlop.png" alt="" style="height:75px;" class="normal-icon" />
                        @*<img src="~/images/icons/intech-icon-1-2.png" alt="" class="normal-icon">*@
                        <img src="~/images/icons/intech-icon-1-2-hvr.png" alt="" class="hvr-icon">
                    </div><!-- /.service-one__icon -->
                    <h3 class="service-one__title"><a href="service-details.html">Custom Web Development</a></h3>
                    <!-- /.service-one__title -->
                    <p class="service-one__text">
                        Our custom web development solutions accelerate workflows, boost revenues,
                        and optimize business operations from concept-to-code and development-to-deployment.
                    </p><!-- /.service-one__text -->
                    <a href="service-details.html" class="service-one__link">
                        <i class="fa fa-angle-right"></i>
                        <!-- /.fa fa-angle-right -->
                    </a><!-- /.service-one__link -->
                </div><!-- /.service-one__single -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="500ms">
                <div class="service-one__single hvr-bounce-to-bottom">
                    <div class="service-one__icon">
                        <img src="~/images/icons/intech-icon-1-3.png" alt="" class="normal-icon">
                        <img src="~/images/icons/intech-icon-1-3-hvr.png" alt="" class="hvr-icon">
                    </div><!-- /.service-one__icon -->
                    <h3 class="service-one__title"><a href="service-details.html">Implementation & Deployment</a></h3>
                    <!-- /.service-one__title -->
                    <p class="service-one__text">
                        We devise an in-depth, comprehensive software implementation & deployment plan,
                        assessing your needs to deliver enhanced technologies to end-users.
                    </p><!-- /.service-one__text -->
                    <a href="service-details.html" class="service-one__link">
                        <i class="fa fa-angle-right"></i>
                        <!-- /.fa fa-angle-right -->
                    </a><!-- /.service-one__link -->
                </div><!-- /.service-one__single -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="1000ms">
                <div class="service-one__single hvr-bounce-to-bottom">
                    <div class="service-one__icon">
                        <img src="~/Icons/api.png" alt="" style="height:75px;" class="normal-icon">
                        <img src="~/Icons/api.png" alt="" style="height:75px;" class="hvr-icon">                        
                    </div><!-- /.service-one__icon -->
                    <h3 class="service-one__title"><a href="service-details.html">API Development</a></h3>
                    <!-- /.service-one__title -->
                    <p class="service-one__text">
                        We develop reliable, well-documented, and easy-to-consume APIs that enable flexible integrations and customization
                        of existing software products.
                    </p><!-- /.service-one__text -->
                    <a href="service-details.html" class="service-one__link">
                        <i class="fa fa-angle-right"></i>
                        <!-- /.fa fa-angle-right -->
                    </a><!-- /.service-one__link -->
                </div><!-- /.service-one__single -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="0ms">
                <div class="service-one__single hvr-bounce-to-bottom">
                    <div class="service-one__icon">
                        <img src="~/Icons/integrated-system.png" alt="" style="height:75px;" class="normal-icon">
                        <img src="~/Icons/integrated-system.png" alt="" style="height:75px;" class="hvr-icon">
                    </div><!-- /.service-one__icon -->
                    <h3 class="service-one__title"><a href="service-details.html">System Integrations</a></h3>
                    <!-- /.service-one__title -->
                    <p class="service-one__text">
                        Our software integration engineers adopt new technologies and processes to overcome challenges relating 
                        to everything from architectural design to testing to execution.
                    </p><!-- /.service-one__text -->
                    <a href="service-details.html" class="service-one__link">
                        <i class="fa fa-angle-right"></i>
                        <!-- /.fa fa-angle-right -->
                    </a><!-- /.service-one__link -->
                </div><!-- /.service-one__single -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="500ms">
                <div class="service-one__single hvr-bounce-to-bottom">
                    <div class="service-one__icon">                       
                        <img src="~/images/icons/intech-icon-1-2.png" alt="" class="normal-icon">
                        <img src="~/images/icons/intech-icon-1-2-hvr.png" alt="" class="hvr-icon">
                        
                    </div><!-- /.service-one__icon -->
                    <h3 class="service-one__title"><a href="service-details.html">Custom Application Development</a></h3>
                    <!-- /.service-one__title -->
                    <p class="service-one__text">
                        We rely on our industry-specific technology experience to deliver highly scalable, flexible, 
                        and interoperable web, mobile, desktop, and hybrid applications.
                    </p><!-- /.service-one__text -->
                    <a href="service-details.html" class="service-one__link">
                        <i class="fa fa-angle-right"></i>
                        <!-- /.fa fa-angle-right -->
                    </a><!-- /.service-one__link -->
                </div><!-- /.service-one__single -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="1000ms">
                <div class="service-one__single hvr-bounce-to-bottom">
                    <div class="service-one__icon">
                        <img src="~/images/icons/intech-icon-1-6.png" alt="" class="normal-icon">
                        <img src="~/images/icons/intech-icon-1-6-hvr.png" alt="" class="hvr-icon">
                    </div><!-- /.service-one__icon -->
                    <h3 class="service-one__title"><a href="service-details.html">Application Maintenance</a></h3>
                    <!-- /.service-one__title -->
                    <p class="service-one__text">
                        Our app maintenance & modernization services are designed to ensure the scalability, performance,
                        and sustainability of your entire software infrastructure.
                    </p><!-- /.service-one__text -->
                    <a href="service-details.html" class="service-one__link">
                        <i class="fa fa-angle-right"></i>
                        <!-- /.fa fa-angle-right -->
                    </a><!-- /.service-one__link -->
                </div><!-- /.service-one__single -->
            </div>
            <!-- /.col-lg-4 -->

            <div class="col-lg-4 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="1000ms">
                <div class="service-one__single hvr-bounce-to-bottom">
                    <div class="service-one__icon">
                        <img src="~/Icons/API-integration.png" alt="" style="height:75px;" class="normal-icon">
                        <img src="~/Icons/API-integration.png" alt="" style="height:75px;" class="hvr-icon">
                    </div><!-- /.service-one__icon -->
                    <h3 class="service-one__title"><a href="service-details.html">API Integrations</a></h3>
                    <!-- /.service-one__title -->
                    <p class="service-one__text">
                        We build custom APIs for all breeds of applications, adding functionality to your software systems and 
                        facilitating communication between your apps & others.
                    </p><!-- /.service-one__text -->
                    <a href="service-details.html" class="service-one__link">
                        <i class="fa fa-angle-right"></i>
                        <!-- /.fa fa-angle-right -->
                    </a><!-- /.service-one__link -->
                </div><!-- /.service-one__single -->
            </div>
            <!-- /.col-lg-4 -->

            <div class="col-lg-4 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="1000ms">
                <div class="service-one__single hvr-bounce-to-bottom">
                    <div class="service-one__icon">
                        <img src="~/images/icons/intech-icon-1-7.png" alt="" class="normal-icon">
                        <img src="~/images/icons/intech-icon-1-7-hvr.png" alt="" class="hvr-icon">
                    </div><!-- /.service-one__icon -->
                    <h3 class="service-one__title"><a href="service-details.html">UX/UI Design</a></h3>
                    <!-- /.service-one__title -->
                    <p class="service-one__text">
                        Leverage the latest UI/UX technologies, architectures, and trends to design responsive & scalable apps that
                        transform customer experiences across multiple channels.
                    </p><!-- /.service-one__text -->
                    <a href="service-details.html" class="service-one__link">
                        <i class="fa fa-angle-right"></i>
                        <!-- /.fa fa-angle-right -->
                    </a><!-- /.service-one__link -->
                </div><!-- /.service-one__single -->
            </div>
            <!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>


<section class="testimonials-one testimonials-one__home-two">
    <div class="container">
        <hr class="style-one">
        <div class="block-title text-center">
            <h2 class="block-title__title">
                Product Lifecycle Management  <br>
                <span>
                    (PLM)
                </span>
            </h2>
            <p>
                Our agile, end-to-end product lifecycle management (PLM) model covers everything from conceptualization,
                concurrent front-end & back-end coding, deployment, QA, and more....
            </p><!-- /.block-title__title -->
        </div><!-- /.block-title -->
        <div class="testimonials-one__carousel owl-carousel owl-theme" data-carousel-margin="50">
            <div class="item">
                <div class="testimonials-one__single">
                    <div class="testimonials-one__image">
                        <img src="~/Icons/TestingQA.png" style="height:75px;" alt="">
                    </div><!-- /.testimonials-one__image -->
                    <div class="testimonials-one__content">
                        <!-- /.testimonials-one__text -->
                        <h3 class="testimonials-one__title">Quality Assurance (QA) Testing</h3>
                        <!-- /.testimonials-one__title -->
                        <p class="testimonials-one__text">
                            We provide comprehensive quality assurance (QA) testing services to deliver high
                            value-added and agile-aligned software solutions and applications.
                        </p>

                        <div class="testimonials-one__stars">
                            <i class="fa fa-star"></i><!-- /.fa fa-star -->
                            <i class="fa fa-star"></i><!-- /.fa fa-star -->
                            <i class="fa fa-star"></i><!-- /.fa fa-star -->
                            <i class="fa fa-star"></i><!-- /.fa fa-star -->
                            <i class="fa fa-star"></i><!-- /.fa fa-star -->
                        </div><!-- /.testimonials-one__stars -->
                    </div><!-- /.testimonials-one__content -->
                </div><!-- /.testimonials-one__single -->
            </div><!-- /.item -->
            <div class="item">
                <div class="testimonials-one__single">
                    <div class="testimonials-one__image">
                        <img src="~/Icons/migrating.png" style="height:75px;" alt="">
                    </div><!-- /.testimonials-one__image -->
                    <div class="testimonials-one__content">
                        <!-- /.testimonials-one__text -->
                        <h3 class="testimonials-one__title">Data Migrations & Upgrades <span></span></h3>
                        <!-- /.testimonials-one__title -->
                        <p class="testimonials-one__text">
                            We perform cloud-based data migrations, system upgrades, and other vital software modernization services,
                            prioritizing system uptime and data integrity.
                        </p>

                        <div class="testimonials-one__stars">
                            <i class="fa fa-star"></i><!-- /.fa fa-star -->
                            <i class="fa fa-star"></i><!-- /.fa fa-star -->
                            <i class="fa fa-star"></i><!-- /.fa fa-star -->
                            <i class="fa fa-star"></i><!-- /.fa fa-star -->
                            <i class="fa fa-star"></i><!-- /.fa fa-star -->
                        </div><!-- /.testimonials-one__stars -->
                    </div><!-- /.testimonials-one__content -->
                </div><!-- /.testimonials-one__single -->
            </div><!-- /.item -->
            <div class="item">
                <div class="testimonials-one__single">
                    <div class="testimonials-one__image">
                        <img src="~/Icons/It Securty.png" style="height:75px;" alt="">
                    </div><!-- /.testimonials-one__image -->
                    <div class="testimonials-one__content">
                        <!-- /.testimonials-one__text -->
                        <h3 class="testimonials-one__title">IT Security Services<span></span></h3>
                        <!-- /.testimonials-one__title -->
                        <p class="testimonials-one__text">
                            Our thorough threat audits help us identify your infrastructure’s most critical vulnerabilities,
                            allowing us to implement the encryptions & protocols you require.
                        </p>

                        <div class="testimonials-one__stars">
                            <i class="fa fa-star"></i><!-- /.fa fa-star -->
                            <i class="fa fa-star"></i><!-- /.fa fa-star -->
                            <i class="fa fa-star"></i><!-- /.fa fa-star -->
                            <i class="fa fa-star"></i><!-- /.fa fa-star -->
                            <i class="fa fa-star"></i><!-- /.fa fa-star -->
                        </div><!-- /.testimonials-one__stars -->
                    </div><!-- /.testimonials-one__content -->
                </div><!-- /.testimonials-one__single -->
            </div><!-- /.item -->
            <div class="item">
                <div class="testimonials-one__single">
                    <div class="testimonials-one__image">
                        <img src="~/Icons/Data Backup.png" style="height:75px;" alt="">
                    </div><!-- /.testimonials-one__image -->
                    <div class="testimonials-one__content">
                        <!-- /.testimonials-one__text -->
                        <h3 class="testimonials-one__title">Data Backup & Disaster Recovery</h3>
                        <!-- /.testimonials-one__title -->
                        <p class="testimonials-one__text">
                            We implement robust data backup and recovery strategies for cloud-based, on-premise,
                            and hybrid servers designed to ensure data integrity and business continuity.
                        </p>

                        <div class="testimonials-one__stars">
                            <i class="fa fa-star"></i><!-- /.fa fa-star -->
                            <i class="fa fa-star"></i><!-- /.fa fa-star -->
                            <i class="fa fa-star"></i><!-- /.fa fa-star -->
                            <i class="fa fa-star"></i><!-- /.fa fa-star -->
                            <i class="fa fa-star"></i><!-- /.fa fa-star -->
                        </div><!-- /.testimonials-one__stars -->
                    </div><!-- /.testimonials-one__content -->
                </div><!-- /.testimonials-one__single -->
            </div><!-- /.item -->
            <div class="item">
                <div class="testimonials-one__single">
                    <div class="testimonials-one__image">
                        <img src="~/Icons/infrastructure.png" style="height:75px;" alt="">
                    </div><!-- /.testimonials-one__image -->
                    <div class="testimonials-one__content">
                        <!-- /.testimonials-one__text -->
                        <h3 class="testimonials-one__title">Infrastructure Support Services<span></span></h3>
                        <!-- /.testimonials-one__title -->
                        <p class="testimonials-one__text">
                            We provide holistic IT infrastructure support, including help desk management, custom messaging & collaboration, network management,
                            and system administration services.
                        </p>

                        <div class="testimonials-one__stars">
                            <i class="fa fa-star"></i><!-- /.fa fa-star -->
                            <i class="fa fa-star"></i><!-- /.fa fa-star -->
                            <i class="fa fa-star"></i><!-- /.fa fa-star -->
                            <i class="fa fa-star"></i><!-- /.fa fa-star -->
                            <i class="fa fa-star"></i><!-- /.fa fa-star -->
                        </div><!-- /.testimonials-one__stars -->
                    </div><!-- /.testimonials-one__content -->
                </div><!-- /.testimonials-one__single -->
            </div><!-- /.item -->

        </div><!-- /.testimonials-one__carousel -->
    </div><!-- /.container -->
</section><!-- /.testimonials-one -->

<section class="blog-one">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="blog-one__content">
                    <div class="block-title">
                        <h2 class="block-title__title">
                            We Have On-Demand  <br>
                            <span>Developers</span>
                        </h2><!-- /.block-title__title -->
                        <p>
                            We are proud to employ over 2,800 in-house developers with many years
                            of combined software development experience in a wide array of industries.
                        </p>
                    </div><!-- /.block-title -->
                    <div class="blog-one__content-carousel owl-carousel owl-theme">
                        <div class="item">
                            <p class="blog-one__text">
                                Our developers work within your nearshore time zone to allow for real-time collaboration.
                                We work to achieve a true "branch location" feel. We infuse accountability
                                and transparency into our model with regular management and progress reports.
                            </p><!-- /.blog-one__text -->
                            <div class="blog-one__meta">
                                <img src="~/Icons/integrated-system.png" style="height:75px;" alt="">
                                <span class="blog-one__meta-text"><a href="blog-details.html" class="blog-one__author">Real-Time Communication</a> / <a href="blog-details.html" class="blog-one__date"></a></span>
                            </div><!-- /.blog-one__meta -->
                        </div><!-- /.item -->
                        <div class="item">
                            <p class="blog-one__text">
                                We work with you to find the areas that are best suited to bring you value. Based on your needs,
                                our flexible business model gives you the option to increase or decrease the size of your
                                dedicated team at any point of the lifecycle.
                            </p><!-- /.blog-one__text -->
                            <div class="blog-one__meta">
                                <img src="~/Icons/api.png" style="height:75px;" alt="">
                                <span class="blog-one__meta-text"><a href="#" class="blog-one__author">Scalable Business Model</a> / <a href="blog-details.html" class="blog-one__date"></a></span>
                            </div><!-- /.blog-one__meta -->
                        </div><!-- /.item -->
                        <div class="item">
                            <p class="blog-one__text">
                                Most software companies insist on owning their own source codes to prevent their clients from seeking out other vendors or tools.
                                Under our agreement,
                                you are the sole proprietor of the source code and intellectual property.
                            </p><!-- /.blog-one__text -->
                            <div class="blog-one__meta">
                                <img src="~/Icons/It Securty.png" style="height:75px;" alt="">
                                <span class="blog-one__meta-text"> <a href="#" class="blog-one__author">You Own The Source Code</a> / <a href="blog-details.html" class="blog-one__date"></a></span>
                            </div><!-- /.blog-one__meta -->
                        </div><!-- /.item -->
                    </div><!-- /.blog-one__content-carousel -->

                </div><!-- /.blog-one__content -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-6">
                <div class="blog-one__featured-image">
                    <div class="blog-one__image-carousel owl-carousel owl-theme">
                        <div class="item">
                            <div class="blog-one__featured-image-single">
                                <img src="~/images/services/DemandDeveloper.png" alt="">                               
                                <!-- /.blog-one__featured-image__hover-content -->
                            </div><!-- /.blog-one__featured-image-single -->
                        </div><!-- /.item -->
                        <div class="item">
                            <div class="blog-one__featured-image-single">
                                <img src="~/images/services/DemandDeveloper.png" alt="">
                               
                            </div><!-- /.blog-one__featured-image-single -->
                        </div><!-- /.item -->
                        <div class="item">
                            <div class="blog-one__featured-image-single">
                                <img src="~/images/services/DemandDeveloper.png" alt="">
                               
                            </div><!-- /.blog-one__featured-image-single -->
                        </div><!-- /.item -->
                    </div><!-- /.blog-one__image-carousel -->
                </div><!-- /.blog-one__featured-image -->
            </div><!-- /.col-lg-8 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.blog-one -->

<section class="services-details__content">
    <div class="container">
        <div class="row justify-content-between">

            <div class="col-xl-6 col-lg-6">
                <div class="blog-one__featured-image">
                    <div class="blog-one__image-carousel owl-carousel owl-theme">
                        <div class="item">
                            <div class="blog-one__featured-image-single">
                                <img src="~/images/services/Languse.png" alt="">
                                
                            </div><!-- /.blog-one__featured-image-single -->
                        </div><!-- /.item -->                        
                    </div><!-- /.blog-one__image-carousel -->
                </div><!-- /.blog-one__featured-image -->
            </div><!-- /.col-lg-8 -->
            <div class="col-xl-6 col-lg-6">
                <div class="services-details__content-block">
                    <div class="block-title">
                        <h2 class="block-title__title"><span>Hire Developers With Programming Expertise</span></h2>
                        <!-- /.block-title__title -->
                    </div><!-- /.block-title -->
                    
                    @*<div class="services-details__image">
                        <img src="~/images/services/service-d-1.jpg" alt="">
                    </div>*@
                   
                    <p class="services-details__content-text">
                        Our highly experienced software developers have a deep understanding of how to leverage top programming languages, frameworks, 
                        and other software development tools to create the ideal solution for your business.
                    </p><!-- /.services-details__content-text -->
                    
                    <h3 class="services-details__sub-title">Programming Languages</h3><!-- /.services-details__sub-title -->
                               
                    <ul class="about-one__list list-unstyled">
                        <li class="about-one__list-item">
                            Java                            
                        </li><!-- /.about-one__list-item -->
                        <li class="about-one__list-item">
                            JavaScript                            
                        </li><!-- /.about-one__list-item -->
                        <li class="about-one__list-item">
                            Python                           
                        </li><!-- /.about-one__list-item -->
                        <li class="about-one__list-item"> C#</li>
                    </ul><!-- /.about-one__list -->
                    <h3 class="services-details__sub-title">Frameworks</h3><!-- /.service-details__sub-title -->
                    
                  <ul class="about-one__list list-unstyled">
                        <li class="about-one__list-item">
                            Angular
                            
                        </li><!-- /.about-one__list-item -->
                        <li class="about-one__list-item">
                            Ruby on Rails
                           
                        </li><!-- /.about-one__list-item -->
                        <li class="about-one__list-item">
                             ASP.NET
                                                      
                        </li><!-- /.about-one__list-item -->
                        <li class="about-one__list-item"> React </li>
                    </ul><!-- /.about-one__list -->                   
                </div><!-- /.services-details__content-block -->
            </div><!-- /.col-xl-7 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.services-details__content -->

<section class="cta-two wow fadeInUp" data-wow-duration="2s">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-lg-6">
                <div class="cta-two__left">
                    <div class="cta-two__inner">
                        <div class="block-title">
                            <h2 class="block-title__title">
                                We run all kinds of IT services <br>
                                <span>that vow your success</span>
                            </h2><!-- /.block-title__title -->
                        </div><!-- /.block-title -->
                        <a href="contact.html" class="thm-btn cta-two__btn">Contact us</a><!-- /.thm-btn -->
                    </div><!-- /.cta-two__inner -->
                </div><!-- /.cta-two__left -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="cta-two__right">
                    <div class="cta-two__inner">
                        <div class="block-title">
                            <h2 class="block-title__title">
                                Make a contact <br>
                                with our IT staffs. <br>
                                Call Us?
                            </h2><!-- /.block-title__title -->
                        </div><!-- /.block-title -->
                        <p class="cta-two__phone"><a href="tel: 9720244415">+91 9720244415</a></p>
                        <!-- /.cta-two__phone -->
                    </div><!-- /.cta-two__inner -->
                </div><!-- /.cta-two__right -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row no-gutters -->
    </div><!-- /.container-fluid -->
</section><!-- /.cta-two -->


